@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-slate-50 font-sans;
  }
  input,
  select {
    @apply bg-transparent border;
  }
  button {
    @apply m-1 p-2 font-semibold rounded-sm;
  }
  label {
    @apply inline-block w-48;
  }
}
