@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-slate-50 font-sans;
  }
  input,
  select,
  textarea {
    @apply bg-transparent border m-2 p-1;
  }
  button {
    @apply m-1 p-2 font-semibold rounded-sm;
  }
  label {
    @apply inline-block w-[7rem] text-right m-2;
  }
  input {
    @apply w-[10rem] md:w-auto;
    color-scheme: light;
  }
  h2 {
    font-size: xx-large;
  }

  * {
    scrollbar-color: #cbd5e1 #334155;
  }

  *::-webkit-scrollbar {
    background: #334155;
  }

  *::-webkit-scrollbar-track {
    background: #334155;
  }

  *::-webkit-scrollbar-thumb {
    background: #cbd5e1;
  }
}
